<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
</head>
<body>

    <h1>Create Location Message</h1>

    <form
        action="/location/<%= location.location_id %>/message_create"
        method="POST"
    >

        <div>
            <label for="title">Message Title:</label>

            <input
                type="text"
                id="title"
                name="title"
                required
            >
        </div>

        <br>

        <div>
            <label for="content">Message:</label>

            <textarea
                id="content"
                name="content"
                rows="6"
                cols="40"
                required
            ></textarea>
        </div>

        <br>

        <button type="submit">Add Message</button>

    </form>

    <br>

    <a href="/location/<%= location.location_id %>">
        Back to Location
    </a>

</body>
</html>
