<form action="/search" method="GET" class="d-flex ms-auto">
    <input
        type="text"
        name="location"
        class="form-control form-control-sm me-2"
        placeholder="Search location..."
        value="<%= (typeof filters !== 'undefined' && filters.location) ? filters.location : '' %>"
    >
    <button type="submit" class="btn btn-sm btn-outline-light">Search</button>
</form>
