<!-- searchbar.ejs -->
<!-- Plain HTML form - submitting it reloads the page at
     /search?location=...&date=...&likes=... -->

<form action="/search" method="GET">
  <input
    type="text"
    name="location"
    placeholder="Search by location name..."
    value="<%= filters.location || '' %>"
  >

  <label>
    Posted on or after:
    <input
      type="date"
      name="date"
      value="<%= filters.date || '' %>"
    >
  </label>

  <label>
    Minimum likes:
    <input
      type="number"
      name="likes"
      min="0"
      placeholder="0"
      value="<%= filters.likes || '' %>"
    >
  </label>

  <button type="submit">Search</button>
</form>
